h1 {font: bold 40pt "Microsoft Sans Serif"; text-shadow:1.5px 1.5px 5px;}

.sticky {position:sticky; top:0px; background-color:#36454F; width:1500; height:80px; border-bottom-left-radius:10px; border-bottom-right-radius:10px;  z-index:99; margin: auto;}

.nvbar {width:1500; }

.bar {margin:0px 10px 0px; background-color:#463E3F; border-radius:10px; height:60px; color:#ffffff;}

h4 {font:bold 14pt "Century Gothic"; text-align:center;   position:relative; top:15px; margin:0px 2px 0px;}

.bar:hover {cursor:pointer; background-color:#ffffff; color:#555555;}

a {text-decoration:none;}

img {border-radius:10px; position:relative; top:2px;}

font {position:relative; top:60px; left:10px;}

h2 {font: bold 25pt "Microsoft Sans Serif"; text-shadow:1px 1px 3px; 
}

hr {border-radius:10px;}

p,li { font:22px "Calibri"; text-shadow:1px 1px 1px; text-indent:1cm; line-height:35px; word-spacing:4px; line-height:47px;}

span {background-color:rgba(0, 0, 0, 0.5); border-radius:10px; padding:0px 8px 4px;}

.next {border-radius:15px; width:500; height:50; text-align:center; position:relative; top:10; font-size:20pt; text-shadow:1px 1px 2px; position:relative; vertical-align:middle; margin: auto;}

.next:hover {border-radius:15px; width:510; height:51; text-align:center; cursor:pointer; position:relative; top:0; animation-name:next; animation-duration:0.5s; font-size:20pt; text-shadow:1px 1px 2px; position:relative; vertical-align:middle;}


h3 {text-shadow:1px 1px 2px;}

#button {margin-bottom:30px;}

input {cursor:pointer; }